{
  "openapi": "3.0.0",
  "info": {
    "title": "Registro de resultados de llamada - Asistente CX",
    "version": "0.1.0",
    "description": {
      "$ref": "./docs/overview.md"
    },
    "x-logo": {
      "url": "./assets/logo.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.cuadra.dev/api/v1",
      "description": "Desarrollo"
    },
    {
      "url": "https://api.cuadra.la/api/v1",
      "description": "Produccion"
    }
  ],
  "tags": [
    {
      "name": "Resultados de llamada",
      "description": {
        "$ref": "./docs/guide.md"
      },
      "x-traitTag": true
    }
  ],
  "x-tagGroups": [
    {
      "name": "Guides",
      "description": "descripcion",
      "tags": [
        "Resultados de llamada"
      ]
    },
    {
      "name": "Api Reference",
      "tags": [
        "AssistantCX"
      ]
    }
  ],
  "paths": {
    "/external/assistant-cx/calls": {
      "post": {
        "tags": [
          "AssistantCX"
        ],
        "summary": "Registrar resultado de llamada",
        "description": "Registra el resultado de una llamada ejecutada por Asistente CX.",
        "operationId": "registerCallResult",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status",
                  "conversation_id",
                  "transcript_path",
                  "audio_path"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "success",
                      "failed"
                    ],
                    "description": "Resultado de la llamada. Puede ser 'success' si fue exitosa o 'failed' si fall\u00f3."
                  },
                  "reason": {
                    "type": "string",
                    "enum": [
                      "Incompleta",
                      "Intentos erroneos",
                      "Llamada no contestada",
                      "Numero equivocado",
                      "No hay match respecto parametros iniciales"
                    ],
                    "description": "Motivo espec\u00edfico del fallo. Solo se requiere si el status es 'failed'."
                  },
                  "attempts": {
                    "type": "integer",
                    "description": "N\u00famero de intentos realizados para completar la llamada."
                  },
                  "conversation_id": {
                    "type": "string",
                    "example": "3fa85f6457174562b3fc2c963f66afa6",
                    "description": "Identificador \u00fanico de la llamada proporcionado por el proveedor externo."
                  },
                  "transcript_path": {
                    "type": "string",
                    "format": "path",
                    "example": "/transcripts/3fa85f6457174562b3fc2c963f66afa6.txt",
                    "description": "Ruta al archivo de transcripci\u00f3n de la llamada (por ejemplo, en S3)."
                  },
                  "audio_path": {
                    "type": "string",
                    "format": "path",
                    "example": "/audios/3fa85f6457174562b3fc2c963f66afa6.mp3",
                    "description": "Ruta al archivo de audio de la llamada (por ejemplo, en S3)."
                  },
                  "detected_gender": {
                    "type": "string",
                    "enum": [
                      "male",
                      "female",
                      "undefined"
                    ],
                    "description": "G\u00e9nero detectado en la llamada, si aplica. Puede ser 'male', 'female' o 'undefined'."
                  },
                  "declared_data": {
                    "type": "object",
                    "description": "Datos que el cliente declar\u00f3 verbalmente durante la llamada.",
                    "properties": {
                      "average_income": {
                        "type": "string",
                        "description": "Ingreso promedio declarado por el cliente durante la llamada.",
                        "example": "3000"
                      },
                      "address": {
                        "type": "string",
                        "description": "Direcci\u00f3n declarada por el cliente.",
                        "example": "3era calle 2da avenida"
                      },
                      "born_year": {
                        "type": "string",
                        "description": "A\u00f1o de nacimiento que el cliente indic\u00f3 (formato: YYYY).",
                        "example": "1993"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registro exitoso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "Registro Exitoso"
                        },
                        "message": {
                          "type": "string",
                          "example": "Llamada registrada exitosamente."
                        },
                        "type": {
                          "type": "string",
                          "example": "success"
                        },
                        "code": {
                          "type": "string",
                          "example": "000"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "event_67890"
                        }
                      }
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en validacion del payload"
          },
          "401": {
            "description": "No autorizado"
          },
          "422": {
            "description": "Error de validaci\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "Error"
                        },
                        "message": {
                          "type": "string",
                          "example": "Campo faltante: reason"
                        },
                        "type": {
                          "type": "string",
                          "example": "error"
                        },
                        "code": {
                          "type": "string",
                          "example": "422"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "event_67890"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor"
          }
        },
        "security": [
          {
            "Token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Token": {
        "description": "Token de autenticacion",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}